# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

/pdf-maker/pdf-maker.iml
/pdf-maker/.idea/*
/pdf-maker/.idea/libraries/*
/pdf-maker/target/
/pdf-maker/pdf/


/.idea/*
